name: Big Structure Tests

on:
  push:
    branches:
      - master
    paths:
      - '.github/workflows/big-structure-run-tests.yml'
      - 'big-structure/**'
  pull_request:
    paths:
      - '.github/workflows/big-structure-run-tests.yml'
      - 'big-structure/**'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Build and test `big-structure`.
      run: |
        cd big-structure/
        docker build -t big-structure .
        docker run --rm big-structure poetry run pytest
